<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.supermap.com.cn/desktop/config" name="VectorEditor" author="SuperMap"
        url="www.supermap.com.cn" description="VectorEditor Plugin">
    <runtime packageName="VectorEditor.jar" pluginClassName="com.supermap.desktop.vectoreditor.VectorEditorPlugin" enabled="True" level="5"/>
    <startMenus>
    </startMenus>
    <ribbons>

		<ribbon id="MapOperatio" index="103" label="矢量编辑" visible="true">
		 <group id="Server" image="../resources/Group/Icon/Online/ServerService.png" index="2" label="服务" visible="true">
            <button index="1" label="在线地图" image="../resources/NetServices/Icon/OnlineMaps.png" screenTip="向地图中添加在线数据。">
			<ribbonPopupMenuItem checkState="false" image="../resources/NetServices/Icon/SuperMapCloud.png" index="0" label="超图云" onAction="CtrlActionOpenSuperMapClound" screenTip="" screenTipImage="" visible="true"/>
			<ribbonPopupMenuItem checkState="false" image="../resources/NetServices/Icon/GoogleMaps.png" index="1" label="谷歌地图" onAction="CtrlActionOpenGoolgeMaps" screenTip="" screenTipImage="" visible="true"/>
			<ribbonPopupMenuItem platform="windows" checkState="false" image="../resources/NetServices/Icon/TiandiTu.png" index="2" label="天地图" onAction="CtrlActionOpenMapWorld" screenTip="" screenTipImage="" visible="true"/>
			<ribbonPopupMenuItem checkState="false" image="../resources/RealspaceView/Icon/Scene/Data/Customize.png" index="5" label="自定义" onAction="CtrlActionDatasourceOpenWeb" screenTip="" screenTipImage="" visible="true"/>
			</button>
		</group>
		<group id="Editor" image="../resources/Group/Icon/ObjectOperate/MapEdit.png" index="1" label="地图编辑" rowCount="2" visible="true">
                <button id="Select" image="../resources/MapView/Icon/Map/Browse/Select_32.png" index="1" label="选择" onAction="CtrlActionMapSelect" style="BIG" visible="true">
                <!--    <ribbonPopupMenuItem checkState="false" customProperty="" helpURL="" image="../resources/MapView/Icon/Map/Browse/Select_32.png" index="1" label="选择" onAction="CtrlActionMapSelect" screenTip="选择地图中的对象，通过直接点击鼠标或者拖框的方式选择对象。" screenTipImage="" visible="true"/>
                    <ribbonPopupMenuItem checkState="false" customProperty="" helpURL="" image="../resources/MapView/Icon/Map/Browse/SelectCircle_32.png" index="2" label="圆形选择" onAction="CtrlActionSelectCircle" screenTip="在地图中，通过点击两次鼠标所确定的一个临时圆，来选中在圆形范围内的对象。" screenTipImage="" visible="true"/>
                    <ribbonPopupMenuItem checkState="false" customProperty="" helpURL="" image="../resources/MapView/Icon/Map/Browse/SelectRegion_32.png" index="3" label="多边形选择" onAction="CtrlActionSelectRegion" screenTip="在地图中，通过连续点击鼠标所绘制的一个临时多边形，来选中在多边形范围内的对象。右键点击鼠标结束临时多边形的绘制。" screenTipImage="" visible="true"/>
                    <ribbonPopupMenuItem checkState="false" customProperty="" helpURL="" image="../resources/MapView/Icon/Map/Browse/SelectLine_32.png" index="4" label="画线选择" onAction="CtrlActionSelectLine" screenTip="在地图中，通过连续点击鼠标所绘制的一条临时折线，来选中与折线相交的对象。右键点击鼠标结束临时折线的绘制。" screenTipImage="" visible="true"/>
                    <ribbonPopupMenuSeparator index="5"/>
                    <ribbonPopupMenuComboBox index="6" label="正向选择模式:" visible="true" checkState="true" onAction="CtrlActionSelectionMode" image="..\resources\MapEditor\Icon\Edit\VertexEdit\ModifyCoordinated.png" style="BIG" screenTip="对于邻接关系的两个或者多个面对象，拖动编辑节点过程中将自动维护对象间的邻接关系。" screenTipImage="" helpURL="Features/DataProcessing/Objects/CreateObjects/Draw2PolyLine.htm" customProperty="">
                        <item index="0" label="包含质心" data="" name="" image="" customProperty=""/>
                        <item index="1" label="包含对象" data="" name="" image="" customProperty=""/>
                        <item index="2" label="面积相交" data="" name="" image="" customProperty=""/>
                    </ribbonPopupMenuComboBox>
                    <ribbonPopupMenuComboBox index="7" label="反向选择模式:" visible="true" checkState="true" onAction="CtrlActionInvertSelectionMode" image="..\resources\MapEditor\Icon\Edit\VertexEdit\ModifyCoordinated.png" style="BIG" screenTip="对于邻接关系的两个或者多个面对象，拖动编辑节点过程中将自动维护对象间的邻接关系。" screenTipImage="" helpURL="Features/DataProcessing/Objects/CreateObjects/Draw2PolyLine.htm" customProperty="">
                        <item index="0" label="包含质心" data="" name="" image="" customProperty=""/>
                        <item index="1" label="包含对象" data="" name="" image="" customProperty=""/>
                        <item index="2" label="面积相交" data="" name="" image="" customProperty=""/>
                    </ribbonPopupMenuComboBox> -->
                </button>

		</group>
		<group id="GeometryCreate" image="../resources/Group/Icon/ObjectOperate/GeometryDrawing.png" index="3" label="对象绘制" visible="true">
                <button checkState="false" image="../resources/MapEditor/Ribbon/DrawingGeometry/Point.svg" index="1" label="点" onAction="CtrlActionDrawingPoint" screenTip="绘制点对象。[P]" screenTipImage="" shortcutKey="[P]" visible="true"/>
                <button id="MapEdit" image="../resources/MapEditor/Ribbon/DrawingGeometry/Polyline.svg" index="2" label="线" onAction="CtrlActionDrawingPolyLine" screenTip="用来绘制折线和平行线。" visible="true">

                </button>
                <button id="MapEdit" image="../resources/MapEditor/Ribbon/DrawingGeometry/Polygon.svg" index="5" label="面" screenTip="用来绘制任意多边形、正多边形、正交多边形等。" onAction="CtrlActionDrawingPolygon" visible="true">

                </button>

                <button id="MapEdit" image="../resources/MapEditor/Ribbon/DrawingGeometry/Text.svg" index="7" label="文本" onAction="CtrlActionCreateText" visible="true" screenTip="用来绘制文本对象。">

                </button>

            </group>


        </ribbon>
    </ribbons>
    <dockbars>
    </dockbars>
    <statusbars/>
    <contextMenus>
    </contextMenus>
    <ProcessManager>
        <ProcessGroup id="WorkFlowSampleCode" index="10000" title="工作流示例">
            <Process>
                <ClassName>com.supermap.desktop.develop.gp.DesktopProcessSampleCode</ClassName>
                <Title>删除重复点</Title>
                <Key>iDesktop_Factory-com.supermap.desktop.maptool.gp-DeleteDuplicatePoints</Key>
            </Process>
        </ProcessGroup>
    </ProcessManager>
</plugin>
