<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.supermap.com.cn/desktop/config" name="DownLoad" author="SuperMap"
        url="www.supermap.com.cn" description="DownLoad Plugin">
    <runtime packageName="DownLoad.jar" pluginClassName="com.supermap.desktop.download.DownLoadPlugin" enabled="True" level="5"/>
    <startMenus>
    </startMenus>
    <ribbons>
        <ribbon id="472f9957-b92e-4a3b-b108-5b96ed8f34db" index="1" label="地图下载" visible="true">
            <group id="02aa9d74-26eb-4fe5-813f-dae670a83620" index="3" label="下载相关" visible="true">
                <button id="a708401a-fef5-4170-9094-2eb45106c532" index="1" checkState="false" onAction="CtrlActionSampleCode"
                        visible="true" image="../templates/SampleCode/DownLoad/images/DownLoad.svg"
                        label="下载"
                        customProperty=""/>
                <button id="595ddffb-f566-4700-8850-253433f4bfdf" index="2" checkState="false" onAction="CtrlActionSampleCode"
                        visible="true" image="../templates/SampleCode/DownLoad/images/DownLoadManager.svg"
                        label="下载任务"
                        customProperty=""/>
            </group>
        </ribbon>
    </ribbons>
    <dockbars>
    </dockbars>
    <statusbars/>
    <contextMenus>
    </contextMenus>
</plugin>
