<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.supermap.com.cn/desktop/config" name="DownLoad" author="SuperMap"
        url="www.supermap.com.cn" description="DownLoad Plugin">
    <runtime packageName="DownLoad.jar" pluginClassName="com.supermap.desktop.download.DownLoadPlugin" enabled="True" level="5"/>
    <startMenus>
    </startMenus>
    <ribbons>
        <ribbon id="map" index="0" label="地图" visible="true">
            <group id="OnlineMaps" index="2" label="在线地图" rowCount="2">
                <button index="0" label="谷歌地图" image="../resources/NetServices/Icon/GoogleMaps.png" style="BIG" >
                    <ribbonPopupMenuItem id="GoogleMapExist" index="0" label="路网地图" checkState="false"
                                         image="../resources/NetServices/Icon/SuperMapCloud.png" onAction="CtrlActionOnLineMapBrowse"
                                         screenTip="" screenTipImage="" visible="true"/>
                    <ribbonPopupMenuItem id="GoogleMapExist" index="1" label="卫星地图" checkState="false"
                                         image="../resources/NetServices/Icon/SuperMapCloud.png" onAction="CtrlActionOnLineMapBrowse"
                                         screenTip="" screenTipImage="" visible="true"/>
                    <ribbonPopupMenuItem id="GoogleMapExist" index="2" label="地形地图" checkState="false"
                                         image="../resources/NetServices/Icon/SuperMapCloud.png" onAction="CtrlActionOnLineMapBrowse"
                                         screenTip="" screenTipImage="" visible="true"/>
                </button>
                <button index="1" label="百度地图" image="../resources/MapApp/Icon/Baidu.png"
                        screenTip="在地图窗口中切换天地图数据。" style="BIG" >
                    <ribbonPopupMenuItem id="BaiduMaps" index="0" label="路网地图" checkState="false"
                                         image="../resources/NetServices/Icon/SuperMapCloud.png" onAction="CtrlActionOnLineMapBrowse"
                                         screenTip="" screenTipImage="" visible="true"/>
                    <ribbonPopupMenuItem id="BaiduMaps" index="1" label="路网地图" checkState="false"
                                         image="../resources/NetServices/Icon/SuperMapCloud.png" onAction="CtrlActionOnLineMapBrowse"
                                         screenTip="" screenTipImage="" visible="true"/>
                </button>
                <button index="2" label="OpenStreet" image="../resources/NetServices/Icon/OpenSteetMap.png"
                        screenTip="在地图窗口中切换天地图数据。" style="BIG" >
                    <ribbonPopupMenuItem id="OpenStreetMaps" index="0" label="标准地图" checkState="false"
                                         image="../resources/NetServices/Icon/SuperMapCloud.png" onAction="CtrlActionOnLineMapBrowse"
                                         screenTip="" screenTipImage="" visible="true"/>
                    <ribbonPopupMenuItem id="OpenStreetMaps" index="1" label="自行车地图" checkState="false"
                                         image="../resources/NetServices/Icon/SuperMapCloud.png" onAction="CtrlActionOnLineMapBrowse"
                                         screenTip="" screenTipImage="" visible="true"/>
                    <ribbonPopupMenuItem id="OpenStreetMaps" index="2" label="交通地图" checkState="false"
                                         image="../resources/NetServices/Icon/SuperMapCloud.png" onAction="CtrlActionOnLineMapBrowse"
                                         screenTip="" screenTipImage="" visible="true"/>
                </button>
                <button index="3" label="天地图(经纬度)" image="../resources/NetServices/Icon/TiandiTu.png"
                        screenTip="在地图窗口中切换天地图数据。" style="BIG" >
                    <ribbonPopupMenuItem id="TdtWgsMaps" index="0" label="路网地图" checkState="false"
                                         image="../resources/NetServices/Icon/SuperMapCloud.png" onAction="CtrlActionTdtMapBrowse"
                                         screenTip="" screenTipImage="" visible="true"/>
                    <ribbonPopupMenuItem id="TdtWgsMaps" index="2" label="卫星地图" checkState="false"
                                         image="../resources/NetServices/Icon/SuperMapCloud.png" onAction="CtrlActionTdtMapBrowse"
                                         screenTip="" screenTipImage="" visible="true"/>
                </button>
                <button index="4" label="天地图(墨卡托)" image="../resources/NetServices/Icon/TiandiTu.png"
                        screenTip="在地图窗口中切换天地图数据。" style="BIG" >
                    <ribbonPopupMenuItem id="TdtWebMaps" index="0" label="路网地图" checkState="false"
                                         image="../resources/NetServices/Icon/SuperMapCloud.png" onAction="CtrlActionTdtMapBrowse"
                                         screenTip="" screenTipImage="" visible="true"/>
                    <ribbonPopupMenuItem id="TdtWebMaps" index="2" label="卫星地图" checkState="false"
                                         image="../resources/NetServices/Icon/SuperMapCloud.png" onAction="CtrlActionTdtMapBrowse"
                                         screenTip="" screenTipImage="" visible="true"/>
                </button>
            </group>
        </ribbon>
        <ribbon id="Download" index="1" label="下载" visible="true">
            <group id="操作" index="1" label="下载操作" rowCount="2">
                <button id="Measure" image="../resources/MapView/Icon/Map/Measure/ClearMeasure.png" index="0"
                        label="清除" onAction="CtrlActionClearDownExtent" screenTip="" style="BIG" visible="true" />
                <button id="Measure" image="../resources/MapEditor/Ribbon/DrawingGeometry/DrawRectangle.svg" index="1"
                        label="矩形框下载" onAction="CtrlActionDrawingRectangle" screenTip="" style="BIG" visible="true">
                </button>
                <button checkState="false" image="../resources/MapEditor/Ribbon/DrawingGeometry/DrawPolygon.svg" index="2"
                        label="多边形下载" onAction="CtrlActionDrawingPolygon" screenTip="" visible="true" style="BIG"/>
                <button checkState="false" image="..\resources\DataMigration\Icon\shpImport.svg" index="3" label="读取SHP文件"
                        onAction="CtrlActionReadShpFile" screenTip="" visible="true" style="BIG"/>
            </group>
            <group id="regionSelectId" index="2" label="区域选择" rowCount="2">
                <label label="省份:" visible="true" width="" screenTip="设置当前文本图层中选中的文本对象的字号。" screenTipImage="" helpURL=""/>
                <label label="地市:" visible="true" width="" screenTip="设置当前文本图层中选中的文本对象的字号。" screenTipImage="" helpURL=""/>
                <comboBox id="cb_Province_Id" checkState="false" name="省份:" onAction="CtrlActionProvinceSelect" editable="true">
                </comboBox>
                <comboBox id="cb_City_Id" name="地市:" checkState="false" onAction="CtrlActionCitySelect" editable="true">
                </comboBox>
                <label label="区县:" visible="true" width="" screenTip="" screenTipImage="" helpURL=""/>
                <checkBox checkState="true" customProperty="" helpURL="" image="" index="0" screenTip="" screenTipImage="" visible="true" width="0"/>
                <comboBox id="cb_County_Id" name="区县:" checkState="false" onAction="CtrlActionCountySelect" editable="true">
                </comboBox>
                <label label="边界裁剪" visible="true" width="" screenTip="" screenTipImage="" helpURL=""/>
            </group>
            <group id="02aa9d74-26eb-4fe5-813f-dae670a83620" index="3" label="下载相关" visible="true">
                <button id="a708401a-fef5-4170-9094-2eb45106c532" index="1" checkState="false" onAction="CtrlActionTileLoad"
                        visible="true" image="../templates/SampleCode/DownLoad/images/tile.png"
                        label="瓦片下载"
                        customProperty=""/>
                <button id="a002594c-0b5f-4472-91d8-45a968f9ada9" index="2" checkState="false" onAction="CtrlActionTerrainLoad"
                        visible="true" image="../templates/SampleCode/DownLoad/images/terrain.png"
                        label="地形下载"
                        customProperty=""/>
                <button id="5dd4267d-4e66-401c-abe4-44f2abfc99e6" index="3" checkState="false" onAction="CtrlActionVectorLoad"
                        visible="true" image="../templates/SampleCode/DownLoad/images/DownLoad.svg"
                        label="矢量下载"
                        customProperty=""/>
                <button id="595ddffb-f566-4700-8850-253433f4bfdf" index="4" checkState="false" onAction="CtrlActionDownLoadTask"
                        visible="true" image="../templates/SampleCode/DownLoad/images/DownLoadManager.svg"
                        label="下载任务"
                        customProperty=""/>
            </group>
        </ribbon>
        <ribbon id="Plotting" index="2" label="标绘" visible="true">
            <group id="浏览" index="0" label="管理" rowCount="2">
                <button checkState="false" image="../resources/MapView/Icon/Map/Property/MapLayerProperty_32.png" index="2" label="图层管理"
                        onAction="CtrlActionLayerManger" screenTip="" screenTipImage=""
                        style="BIG" visible="true">
                </button>
                <button checkState="false" customProperty="" helpURL=""
                        image="../resources/DataConversion/Icon/DataProcess/ImportData.png" index="2" label="图层导入"
                        onAction="" screenTip="在地图窗口中，通过点击鼠标左键不放并拖动鼠标，来平移地图。" screenTipImage=""
                        style="BIG" visible="true">
                </button>
                <button checkState="false" customProperty="" helpURL=""
                        image="../resources/DataConversion/Icon/DataProcess/ExportData.png" index="2" label="图层导出"
                        onAction="" screenTip="在地图窗口中，通过点击鼠标左键不放并拖动鼠标，来平移地图。" screenTipImage=""
                        style="BIG" visible="true">
                </button>
            </group>
            <group id="浏览" index="0" label="图形标绘" rowCount="2">
                <button checkState="false" customProperty="" helpURL=""
                        image="../resources/MapEditor/Ribbon/DrawingGeometry/Point.svg" index="2" label="点绘制"
                        onAction="" screenTip="在地图窗口中，通过点击鼠标左键不放并拖动鼠标，来平移地图。" screenTipImage=""
                        style="BIG" visible="true">
                </button>
                <button checkState="false" customProperty="" helpURL=""
                        image="../resources/MapEditor/Ribbon/DrawingGeometry/Polyline.svg" index="2" label="线绘制"
                        onAction="" screenTip="在地图窗口中，通过点击鼠标左键不放并拖动鼠标，来平移地图。" screenTipImage=""
                        style="BIG" visible="true">
                </button>
                <button checkState="false" customProperty="" helpURL=""
                        image="../resources/MapEditor/Ribbon/DrawingGeometry/Polygon.svg" index="2" label="面绘制"
                        onAction="" screenTip="在地图窗口中，通过点击鼠标左键不放并拖动鼠标，来平移地图。" screenTipImage=""
                        style="BIG" visible="true">
                </button>
                <button checkState="false" customProperty="" helpURL=""
                        image="../resources/MapView/Icon/Map/Measure/ClearMeasure.png" index="2" label="清除"
                        onAction="" screenTip="在地图窗口中，通过点击鼠标左键不放并拖动鼠标，来平移地图。" screenTipImage=""
                        style="BIG" visible="true">
                </button>
            </group>
        </ribbon>
        <ribbon id="Tools" index="3" label="工具" visible="true">
            <group id="tools_coordinate_id" index="0" label="坐标纠偏" rowCount="2">
                <button checkState="false" customProperty="" helpURL=""
                        image="../resources/MapView/Menu/MapOperator/CacheBuilder2DSingle.png" index="2" label="单坐标"
                        onAction="" screenTip="" screenTipImage=""
                        style="BIG" visible="true">
                </button>
                <button checkState="false" customProperty="" helpURL=""
                        image="../resources/MapView/Menu/MapOperator/CacheBuilder2DMulti.png" index="2" label="批量坐标"
                        onAction="" screenTip="" screenTipImage=""
                        style="BIG" visible="true">
                </button>
            </group>
            <group id="tools_other_id" index="1" label="其他工具" rowCount="2">
                <button checkState="false" customProperty="" helpURL=""
                        image="..\resources\DataMigration\Icon\CoordSysTranslatorPoint.svg" index="2" label="坐标转换"
                        onAction="" screenTip="" screenTipImage=""
                        style="BIG" visible="true">
                </button>
            </group>
        </ribbon>
    </ribbons>
    <dockbars>
        <dockbar component="com.supermap.desktop.mapapp.ui.MapAppLayerManager" dockDirection="left" id="mapAppLayerManager" title="图层管理位" visible="false"/>
    </dockbars>

</plugin>
