<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.supermap.com.cn/desktop/config" name="MapTool" author="SuperMap"
        url="www.supermap.com.cn" description="MapTool Plugin">
    <runtime packageName="MapTool.jar" pluginClassName="com.supermap.desktop.maptool.MapToolPlugin" enabled="True" level="5"/>
    <startMenus>
    </startMenus>
    <ribbons>
        <ribbon id="实用工具" index="20" label="实用工具" visible="true">
            <group id="Develope" index="500" label="测量工具" visible="true">
                <button index="0" checkState="true" onAction="CtrlActionMeasureDistance"
                        screenTip="测距工具"
                        visible="true"
                        image="../resources/MapView/Icon/Map/Measure/Distance_32.png"
                        label="测距"
                        customProperty=""/>

                <button ClassName="com.supermap.desktop.maptool.gp.DesktopProcessSampleCode"
                        Key="iDesktop_Factory-com.supermap.desktop.maptool.gp-DeleteDuplicatePoints"
                        checkState="false"
                        image="../resources/MapView/Icon/Map/Measure/Area.png"
                        label="测面" onAction="CtrlActionMeasureArea"
                        screenTip=""
                        screenTipImage="" shortcutKey="" visible="true"/>
                <button checkState="true" customProperty="" helpURL="" image="../resources/MapView/Icon/Map/Measure/ClearMeasure.png" index="5" label="清除" onAction="CtrlActionMeasureClear" screenTip="" screenTipImage="" visible="true" style="MEDIUM"/>
                <button checkState="true" customProperty="" helpURL="" image="../resources/MapView/Icon/Map/Measure/Unit.png" index="6" label="单位" onAction="CtrlActionMeasureSetting" screenTip="打开量算单位设置面板，设置量算单位" screenTipImage="" visible="true" style="MEDIUM"/>
            </group>
            <group id="ArcView" index="500" label="地形分析" visible="true">
                <button label="坡度分析" screenTip="计算栅格数据集（DEM）各个像元的坡度。" image="..\resources\SpatialAnalyst\Icon\Grid\SurfaceAnalyst\CalculateSlope.png" Key="iobjects_rasteranalyst-com.supermap.analyst.rasteranalyst.surfaceanalyst-calculateslope" ClassName="com.supermap.desktop.rasteranalyst.workflow.calculationTerrain.MetaProcessCalculateSlope" onAction=""/>
                <button label="坡向分析" screenTip="用于计算栅格数据集（DEM）中各个像元的坡度面的朝向。" image="..\resources\SpatialAnalyst\Icon\Grid\SurfaceAnalyst\CalculateAspect.png" Key="iobjects_rasteranalyst-com.supermap.analyst.rasteranalyst.surfaceanalyst-calculateaspect" ClassName="com.supermap.desktop.rasteranalyst.workflow.calculationTerrain.MetaProcessCalculateAspect" onAction=""/>
                <button label="剖面分析" screenTip="用于根据给定的线路查看栅格表面沿该线路的剖面，并得到剖面线和采样点集合。" image="..\resources\SpatialAnalyst\Icon\Grid\SurfaceAnalyst\CalculateProfile.png" Key="iobjects_rasteranalyst-com.supermap.analyst.rasteranalyst.surfaceanalyst-calculateprofile" ClassName="com.supermap.desktop.rasteranalyst.workflow.calculationTerrain.MetaProcessCalculateProfile" onAction=""/>
                <button  label="填挖方" screenTip="用于描述两个栅格数据集（填挖方前和填挖方后）之间体积和面积的变化，“填方”表示表面区域物质的增加，“挖方”表示表面区域物质的减少。" image="..\resources\SpatialAnalyst\Icon\Grid\SurfaceAnalyst\CalculateCutFill.png" Key="iobjects_rasteranalyst-com.supermap.analyst.rasteranalyst.surfaceanalyst-cutfill" ClassName="com.supermap.desktop.rasteranalyst.workflow.calculationTerrain.MetaProcessCutFill" onAction=""/>
            </group>
            <group id="transformation" index="600" label="投影转换" visible="true">
                <button checkState="false" customProperty="" helpURL="Features/DataProcessing/Projection/ConvertPrjCoordSys.htm" image="../resources/DataEditor/Icon/Dataprocess/CoordSysTranslatorDataset.png" index="1" label="数据集投影转换" onAction="CtrlActionDatasetPrjTranslator" screenTip="打开数据集投影转换对话框，对工作空间管理器中存在的数据集进行投影转换。" screenTipImage="" visible="true"/>
                <button checkState="false" customProperty="" helpURL="Features/DataProcessing/Projection/ConvertPrjCoordSys.htm" image="../resources/DataEditor/Icon/Dataprocess/CoordSysTranslatorBatch.png" index="2" label="批量投影转换"  onAction="CtrlActionBatchPrjTranslator" screenTip="打开批量投影转换对话框，对工作空间管理器中存在的数据集进行批量投影转换。" screenTipImage="" visible="true"/>
            </group>
        </ribbon>
    </ribbons>
    <dockbars>
    </dockbars>
    <statusbars/>
    <contextMenus>
    </contextMenus>
    <ProcessManager>
        <ProcessGroup id="WorkFlowSampleCode" index="10000" title="工作流示例">
            <Process>
                <ClassName>com.supermap.desktop.maptool.gp.DesktopProcessSampleCode</ClassName>
                <Title>删除重复点</Title>
                <Key>iDesktop_Factory-com.supermap.desktop.maptool.gp-DeleteDuplicatePoints</Key>
            </Process>
        </ProcessGroup>
    </ProcessManager>
</plugin>
