<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.supermap.com.cn/desktop/config" name="Develop" author="SuperMap"
        url="www.supermap.com.cn" description="Develop Plugin">
    <runtime packageName="Develop.jar" pluginClassName="com.supermap.desktop.maptool.DevelopPlugin" enabled="True" level="5"/>
    <startMenus>
    </startMenus>
    <ribbons>

    </ribbons>
    <dockbars>
    </dockbars>
    <statusbars/>
    <contextMenus>
    </contextMenus>
    <ProcessManager>

    </ProcessManager>
</plugin>
